<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>后厨帮-新一代餐厅运营工具</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/buttons.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/media-queries.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
		
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                    	<div class="col-sm-5 phone">
                        	<img src="http://meiyue.b0.upaiyun.com/img/iphone-1.png" alt="">
                        </div>
                        <div class="col-sm-7 text">
                            <h2>后厨帮&nbsp&nbsp&nbsp&nbsp改版中...<br></h2>
                            <div class="description">
                            	让餐厅后厨高效有序，为你带来全新的餐厅管理体验。
                            </div>
                            <div class="top-button">
                            	<a class="button-1" href="#">
                            		<span class="button-1-left"><i class="fa fa-apple"></i></span>
                            		<span class="button-1-right">
                            			<span class="button-1-right-bottom">请静候</span>
                            		</span>
                            	</a>
                            	<a class="button-1" href="#">
                            		<span class="button-1-left"><i class="fa fa-android"></i></span>
                            		<span class="button-1-right">
                            			<span class="button-1-right-bottom">请静候</span>
                            		</span>
                            	</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Features -->
        <div class="features-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 features">
	                    <h2>我们的特点</h2>

	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-eye"></i>
	                	</div>
	                    <h3>操作简单</h3>
	                    <p>
	                    	界面简洁，清晰明了。每一步操作都有明确的文字提示。
	                    </p>
	                </div>
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-table"></i>
	                	</div>
	                    <h3>分工明确</h3>
	                    <p>
	                    	将餐饮人员分为四类：管理者、点菜员、厨师、上菜员。
	                    </p>
	                </div>
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-pencil"></i>
	                	</div>
	                    <h3>合理配单</h3>
	                    <p>
	                    	通过后台合理分发配置订单，让餐厅有序的运转，减少客人等待时间。
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h2>操作简单</h2>
	                    <p>

                        设计遵循app原生设计规范，操作方便易用。通过精简操作步奏，让你得到良好的操作体验。

	                    </p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-7 single-feature-img-description">
	                    <p>
	                    	<strong>布局清晰</strong> <br>
                            文字明确，图标清晰
	                    </p>	                    <p>
	                    	<strong>易于理解</strong> <br>
	                    	操作人员容易理解按钮的含义，避免不必要的操作
	                    </p>


	                </div>
	                <div class="col-sm-5 single-feature-img">
	                    <img src="http://meiyue.b0.upaiyun.com/img/iphone-2.png" alt="">
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Single feature -->
        <div class="single-feature-container single-feature-no-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h2>分工明确</h2>
	                    <p>
	                    	分为管理员、点菜员、厨师、上菜员四种角色，让每个人所做的工作都一目了然，有据可循。
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-5 single-feature-img">
	                    <img src="http://meiyue.b0.upaiyun.com/img/iphone-3.png" alt="">
	                </div>
	                <div class="col-sm-7 single-feature-img-description">
	                    <p>
	                    	<strong>管理员</strong> <br>
	                    	可以管理餐厅其他服务人员，可以增加、删除服务人员，查看服务人员工作量
	                    </p>
	                    <p>
	                    	<strong>点菜员</strong> <br>
	                    	管理餐桌状态，可以锁定餐桌，并进行点餐。
                        </p>
	                    <p>
	                    	<strong>厨师</strong> <br>
	                    	根据菜品对厨师分类，每个菜品下的厨师进行流水线接单。
	                    </p>
	                    <p>
	                    	<strong>上菜员</strong> <br>
	                    	厨师做好菜后，给上菜员平均配单，及时将菜品送到餐桌上。
	                    </p>
                    </div>
	            </div>
	        </div>
        </div>
        
        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h2>合理配单</h2>
	                    <p>
	                    	通过生产者-消费者模式，在云端给厨师进行合理配单，让每一个厨师“闲不下来”，让每一个上菜员“跑前跑后”。提高餐厅的生产效率，减少客人等待时间，增加客流量。
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-7 single-feature-img-description">
	                    <p>
	                    	<strong>灵活机制</strong> <br>
	                    	通过后台的合理配单，可以让进店顾客得到更好的服务，提高餐厅满意度
	                    </p>
	                    <p>
	                    	<strong>提成依据</strong> <br>
	                    	将每个人的工作量化，更好的分配薪水
	                    </p>
	                </div>
	                <div class="col-sm-5 single-feature-img">
	                    <img src="http://meiyue.b0.upaiyun.com/img/iphone-2.png" alt="">
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Call to action -->
        <div class="call-to-action-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 call-to-action-text">
	                    <h2>下载</h2>
	                    <p>
	                    	在AppStore中搜索“后厨帮”，即可免费下载。使用中如果有问题，欢迎发邮件至yeepom@yeah.net。
	                    </p>
	                    <div class="call-to-action-button">
                            	<a class="button-1" href="#">
                            		<span class="button-1-left"><i class="fa fa-apple"></i></span>
                            		<span class="button-1-right">
                            			<span class="button-1-right-bottom">请静候</span>
                            		</span>
                            	</a>
                            	<a class="button-1" href="#">
                            		<span class="button-1-left"><i class="fa fa-android"></i></span>
                            		<span class="button-1-right">
                            			<span class="button-1-right-bottom">请静候</span>
                            		</span>
                            	</a>
                        </div>
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Footer -->
        <footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12">

	                    <div class="footer-copyright">
	                    	&copy;2015 北京冬青科技有限公司</a>
	                    </div>
	                </div>
	            </div>
	        </div>
        </footer>
        

        <!-- Javascript -->
        <script src="assets/js/jquery-1.10.2.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>

